# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# SQLite database
*.db

# Environment files
.env

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp

# Windows temporary text file
New Text Document.txt